// COLORS
$primary-color: #013d87;
$secondary-color: #db82ed;

 //$primary-color: #7f449d;
 //$secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #323350;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
